In [203]:
import scipy as sp
import numpy as np
import pandas as pd
import statsmodels.stats.api as sms

In [204]:
df = pd.read_csv('botswana.tsv', sep = '\t')
df.head(10)

,ceb,age,educ,religion,idlnchld,knowmeth,usemeth,evermarr,agefm,heduc,urban,electric,radio,tv,bicycle
0,0,19,12,other,4.0,1.0,0.0,0,NaN,NaN,0,0.0,1.0,0.0,0.0
1,0,16,0,spirit,6.0,1.0,0.0,0,NaN,NaN,0,0.0,1.0,0.0,0.0
2,2,27,10,catholic,4.0,1.0,1.0,0,NaN,NaN,0,0.0,1.0,0.0,0.0
3,2,27,7,other,5.0,1.0,1.0,0,NaN,NaN,0,0.0,1.0,0.0,0.0
4,4,28,0,spirit,10.0,1.0,1.0,0,NaN,NaN,0,0.0,1.0,0.0,0.0
5,3,30,0,protestant,5.0,1.0,1.0,1,16.0,4.0,0,0.0,1.0,0.0,0.0
6,3,26,0,spirit,9.0,1.0,1.0,0,NaN,NaN,0,0.0,1.0,0.0,0.0
7,2,31,8,catholic,4.0,1.0,1.0,1,18.0,7.0,0,0.0,1.0,0.0,0.0
8,5,29,0,protestant,10.0,1.0,1.0,1,17.0,7.0,0,0.0,1.0,0.0,0.0
9,8,42,5,catholic,8.0,1.0,1.0,0,NaN,NaN,0,0.0,1.0,0.0,0.0

In [205]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 220 entries, 0 to 219
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ceb       220 non-null    int64
 1   age       220 non-null    int64
 2   educ      220 non-null    int64
 3   religion  220 non-null    object
 4   idlnchld  217 non-null    float64
 5   knowmeth  216 non-null    float64
 6   usemeth   212 non-null    float64
 7   evermarr  220 non-null    int64
 8   agefm     111 non-null    float64
 9   heduc     106 non-null    float64
 10  urban     220 non-null    int64
 11  electric  219 non-null    float64
 12  radio     219 non-null    float64
 13  tv        219 non-null    float64
 14  bicycle   219 non-null    float64
dtypes: float64(9), int64(5), object(1)
memory usage: 25.9+ KB

In [206]:
df['religion'].unique()

array(['other', 'spirit', 'catholic', 'protestant'], dtype=object)

In [207]:
df.dropna()

,ceb,age,educ,religion,idlnchld,knowmeth,usemeth,evermarr,agefm,heduc,urban,electric,radio,tv,bicycle
5,3,30,0,protestant,5.0,1.0,1.0,1,16.0,4.0,0,0.0,1.0,0.0,0.0
7,2,31,8,catholic,4.0,1.0,1.0,1,18.0,7.0,0,0.0,1.0,0.0,0.0
8,5,29,0,protestant,10.0,1.0,1.0,1,17.0,7.0,0,0.0,1.0,0.0,0.0
13,4,32,7,spirit,6.0,1.0,1.0,1,15.0,7.0,0,0.0,1.0,0.0,0.0
15,2,24,9,spirit,4.0,1.0,1.0,1,18.0,10.0,0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212,9,49,0,protestant,5.0,0.0,0.0,1,15.0,0.0,0,0.0,1.0,0.0,0.0
213,3,31,2,protestant,4.0,1.0,1.0,1,18.0,0.0,0,0.0,1.0,0.0,0.0
214,4,27,6,protestant,4.0,1.0,1.0,1,17.0,7.0,0,0.0,0.0,0.0,0.0
218,1,26,0,spirit,5.0,1.0,0.0,1,22.0,7.0,0,0.0,1.0,0.0,0.0
219,6,36,3,protestant,8.0,1.0,1.0,1,21.0,0.0,0,0.0,1.0,0.0,0.0

In [208]:
df

,ceb,age,educ,religion,idlnchld,knowmeth,usemeth,evermarr,agefm,heduc,urban,electric,radio,tv,bicycle
0,0,19,12,other,4.0,1.0,0.0,0,NaN,NaN,0,0.0,1.0,0.0,0.0
1,0,16,0,spirit,6.0,1.0,0.0,0,NaN,NaN,0,0.0,1.0,0.0,0.0
2,2,27,10,catholic,4.0,1.0,1.0,0,NaN,NaN,0,0.0,1.0,0.0,0.0
3,2,27,7,other,5.0,1.0,1.0,0,NaN,NaN,0,0.0,1.0,0.0,0.0
4,4,28,0,spirit,10.0,1.0,1.0,0,NaN,NaN,0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215,0,16,7,protestant,2.0,1.0,0.0,0,NaN,NaN,0,0.0,1.0,0.0,0.0
216,2,28,7,protestant,4.0,1.0,1.0,0,NaN,NaN,0,0.0,1.0,0.0,0.0
217,4,24,5,protestant,4.0,1.0,1.0,0,NaN,NaN,0,0.0,1.0,0.0,0.0
218,1,26,0,spirit,5.0,1.0,0.0,1,22.0,7.0,0,0.0,1.0,0.0,0.0
219,6,36,3,protestant,8.0,1.0,1.0,1,21.0,0.0,0,0.0,1.0,0.0,0.0

In [209]:
df['nevermarr'] = 1

In [210]:
type(df['agefm'][0])

numpy.float64

In [211]:
df['agefm'][0] == np.nan

False

In [212]:
df['agefm'].isna()

0       True
1       True
2       True
3       True
4       True
       ...
215     True
216     True
217     True
218    False
219    False
Name: agefm, Length: 220, dtype: bool

In [213]:
df['nevermarr'][df['agefm'].isna()] = 0

C:\Users\Oleg\AppData\Local\Temp\ipykernel_4420\1469134863.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['nevermarr'][df['agefm'].isna()] = 0

In [214]:
df

,ceb,age,educ,religion,idlnchld,knowmeth,usemeth,evermarr,agefm,heduc,urban,electric,radio,tv,bicycle,nevermarr
0,0,19,12,other,4.0,1.0,0.0,0,NaN,NaN,0,0.0,1.0,0.0,0.0,0
1,0,16,0,spirit,6.0,1.0,0.0,0,NaN,NaN,0,0.0,1.0,0.0,0.0,0
2,2,27,10,catholic,4.0,1.0,1.0,0,NaN,NaN,0,0.0,1.0,0.0,0.0,0
3,2,27,7,other,5.0,1.0,1.0,0,NaN,NaN,0,0.0,1.0,0.0,0.0,0
4,4,28,0,spirit,10.0,1.0,1.0,0,NaN,NaN,0,0.0,1.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215,0,16,7,protestant,2.0,1.0,0.0,0,NaN,NaN,0,0.0,1.0,0.0,0.0,0
216,2,28,7,protestant,4.0,1.0,1.0,0,NaN,NaN,0,0.0,1.0,0.0,0.0,0
217,4,24,5,protestant,4.0,1.0,1.0,0,NaN,NaN,0,0.0,1.0,0.0,0.0,0
218,1,26,0,spirit,5.0,1.0,0.0,1,22.0,7.0,0,0.0,1.0,0.0,0.0,1
219,6,36,3,protestant,8.0,1.0,1.0,1,21.0,0.0,0,0.0,1.0,0.0,0.0,1

In [215]:
df = df.drop(columns='evermarr')

In [216]:
df['agefm'][df['agefm'].isna()]=0

C:\Users\Oleg\AppData\Local\Temp\ipykernel_4420\3744417067.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['agefm'][df['agefm'].isna()]=0

In [217]:
df

,ceb,age,educ,religion,idlnchld,knowmeth,usemeth,agefm,heduc,urban,electric,radio,tv,bicycle,nevermarr
0,0,19,12,other,4.0,1.0,0.0,0.0,NaN,0,0.0,1.0,0.0,0.0,0
1,0,16,0,spirit,6.0,1.0,0.0,0.0,NaN,0,0.0,1.0,0.0,0.0,0
2,2,27,10,catholic,4.0,1.0,1.0,0.0,NaN,0,0.0,1.0,0.0,0.0,0
3,2,27,7,other,5.0,1.0,1.0,0.0,NaN,0,0.0,1.0,0.0,0.0,0
4,4,28,0,spirit,10.0,1.0,1.0,0.0,NaN,0,0.0,1.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215,0,16,7,protestant,2.0,1.0,0.0,0.0,NaN,0,0.0,1.0,0.0,0.0,0
216,2,28,7,protestant,4.0,1.0,1.0,0.0,NaN,0,0.0,1.0,0.0,0.0,0
217,4,24,5,protestant,4.0,1.0,1.0,0.0,NaN,0,0.0,1.0,0.0,0.0,0
218,1,26,0,spirit,5.0,1.0,0.0,22.0,7.0,0,0.0,1.0,0.0,0.0,1
219,6,36,3,protestant,8.0,1.0,1.0,21.0,0.0,0,0.0,1.0,0.0,0.0,1

In [218]:
df.loc[df['heduc'].isna() & df['nevermarr']==1,'heduc']=-1

In [219]:
df

,ceb,age,educ,religion,idlnchld,knowmeth,usemeth,agefm,heduc,urban,electric,radio,tv,bicycle,nevermarr
0,0,19,12,other,4.0,1.0,0.0,0.0,NaN,0,0.0,1.0,0.0,0.0,0
1,0,16,0,spirit,6.0,1.0,0.0,0.0,NaN,0,0.0,1.0,0.0,0.0,0
2,2,27,10,catholic,4.0,1.0,1.0,0.0,NaN,0,0.0,1.0,0.0,0.0,0
3,2,27,7,other,5.0,1.0,1.0,0.0,NaN,0,0.0,1.0,0.0,0.0,0
4,4,28,0,spirit,10.0,1.0,1.0,0.0,NaN,0,0.0,1.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215,0,16,7,protestant,2.0,1.0,0.0,0.0,NaN,0,0.0,1.0,0.0,0.0,0
216,2,28,7,protestant,4.0,1.0,1.0,0.0,NaN,0,0.0,1.0,0.0,0.0,0
217,4,24,5,protestant,4.0,1.0,1.0,0.0,NaN,0,0.0,1.0,0.0,0.0,0
218,1,26,0,spirit,5.0,1.0,0.0,22.0,7.0,0,0.0,1.0,0.0,0.0,1
219,6,36,3,protestant,8.0,1.0,1.0,21.0,0.0,0,0.0,1.0,0.0,0.0,1

In [220]:
df.heduc.isna().value_counts()

False    111
True     109
Name: heduc, dtype: int64

In [221]:
df['nevermarr'] = 0
df.loc[df.agefm.isna(),'nevermarr'] = 1
df = df.drop('evermarr', axis = 1)
df.agefm.fillna(0, inplace = True)
df.loc[((df.nevermarr == 1)&(df.heduc.isna())),'heduc'] = -1

KeyError: "['evermarr'] not found in axis"

In [222]:
df.heduc.isna().value_counts()

False    111
True     109
Name: heduc, dtype: int64

In [223]:
df

,ceb,age,educ,religion,idlnchld,knowmeth,usemeth,agefm,heduc,urban,electric,radio,tv,bicycle,nevermarr
0,0,19,12,other,4.0,1.0,0.0,0.0,NaN,0,0.0,1.0,0.0,0.0,0
1,0,16,0,spirit,6.0,1.0,0.0,0.0,NaN,0,0.0,1.0,0.0,0.0,0
2,2,27,10,catholic,4.0,1.0,1.0,0.0,NaN,0,0.0,1.0,0.0,0.0,0
3,2,27,7,other,5.0,1.0,1.0,0.0,NaN,0,0.0,1.0,0.0,0.0,0
4,4,28,0,spirit,10.0,1.0,1.0,0.0,NaN,0,0.0,1.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215,0,16,7,protestant,2.0,1.0,0.0,0.0,NaN,0,0.0,1.0,0.0,0.0,0
216,2,28,7,protestant,4.0,1.0,1.0,0.0,NaN,0,0.0,1.0,0.0,0.0,0
217,4,24,5,protestant,4.0,1.0,1.0,0.0,NaN,0,0.0,1.0,0.0,0.0,0
218,1,26,0,spirit,5.0,1.0,0.0,22.0,7.0,0,0.0,1.0,0.0,0.0,0
219,6,36,3,protestant,8.0,1.0,1.0,21.0,0.0,0,0.0,1.0,0.0,0.0,0

In [224]:
df['idlnchld_noans'] = 0
df.loc[df.idlnchld.isna(),'idlnchld_noans'] = -1
df.idlnchld.fillna(0, inplace = True)

df['heduc_noans'] = 0
df.loc[df.heduc.isna(),'heduc_noans'] = -2
df.heduc.fillna(0, inplace = True)

df['usemeth_noans'] = 0
df.loc[df.usemeth.isna(),'usemeth_noans'] = -1
df.usemeth.fillna(0, inplace = True)

In [225]:
df.dropna()

,ceb,age,educ,religion,idlnchld,knowmeth,usemeth,agefm,heduc,urban,electric,radio,tv,bicycle,nevermarr,idlnchld_noans,heduc_noans,usemeth_noans
0,0,19,12,other,4.0,1.0,0.0,0.0,0.0,0,0.0,1.0,0.0,0.0,0,0,-2,0
1,0,16,0,spirit,6.0,1.0,0.0,0.0,0.0,0,0.0,1.0,0.0,0.0,0,0,-2,0
2,2,27,10,catholic,4.0,1.0,1.0,0.0,0.0,0,0.0,1.0,0.0,0.0,0,0,-2,0
3,2,27,7,other,5.0,1.0,1.0,0.0,0.0,0,0.0,1.0,0.0,0.0,0,0,-2,0
4,4,28,0,spirit,10.0,1.0,1.0,0.0,0.0,0,0.0,1.0,0.0,0.0,0,0,-2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215,0,16,7,protestant,2.0,1.0,0.0,0.0,0.0,0,0.0,1.0,0.0,0.0,0,0,-2,0
216,2,28,7,protestant,4.0,1.0,1.0,0.0,0.0,0,0.0,1.0,0.0,0.0,0,0,-2,0
217,4,24,5,protestant,4.0,1.0,1.0,0.0,0.0,0,0.0,1.0,0.0,0.0,0,0,-2,0
218,1,26,0,spirit,5.0,1.0,0.0,22.0,7.0,0,0.0,1.0,0.0,0.0,0,0,0,0
219,6,36,3,protestant,8.0,1.0,1.0,21.0,0.0,0,0.0,1.0,0.0,0.0,0,0,0,0

In [226]:
df = df.dropna(subset = ['knowmeth', 'electric', 'radio', 'tv', 'bicycle'])

In [227]:
import statsmodels.formula.api as smf

In [228]:
mod = smf.ols(formula='ceb ~ '+strok,data=df)
res = mod.fit()
print(res.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                    ceb   R-squared:                       0.605
Model:                            OLS   Adj. R-squared:                  0.582
Method:                 Least Squares   F-statistic:                     25.84
Date:                Thu, 15 Feb 2024   Prob (F-statistic):           1.35e-34
Time:                        21:01:06   Log-Likelihood:                -413.68
No. Observations:                 215   AIC:                             853.4
Df Residuals:                     202   BIC:                             897.2
Df Model:                          12
Covariance Type:            nonrobust
==================================================================================
                     coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------
Intercept         -1.2196      0.883     -1.381      0.169      -2.961       0.522
age                0.1638      0.017      9.711      0.000       0.131       0.197
educ              -0.0994      0.040     -2.478      0.014      -0.178      -0.020
idlnchld           0.1281      0.048      2.696      0.008       0.034       0.222
knowmeth           0.4583      0.355      1.290      0.198      -0.242       1.159
usemeth            0.9722      0.292      3.330      0.001       0.397       1.548
agefm             -0.0807      0.033     -2.470      0.014      -0.145      -0.016
heduc             -0.0198      0.053     -0.376      0.707      -0.124       0.084
urban          -1.626e-15   1.53e-15     -1.064      0.289   -4.64e-15    1.39e-15
electric          -0.6807      1.029     -0.662      0.509      -2.709       1.347
bicycle            0.0002      0.574      0.000      1.000      -1.132       1.132
nevermarr      -1.161e-15   1.11e-15     -1.048      0.296   -3.35e-15    1.02e-15
idlnchld_noans     0.8134      1.339      0.607      0.544      -1.827       3.454
heduc_noans        0.8526      0.359      2.373      0.019       0.144       1.561
usemeth_noans     -0.3507      0.831     -0.422      0.673      -1.989       1.287
==============================================================================
Omnibus:                       18.369   Durbin-Watson:                   1.772
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               59.990
Skew:                          -0.158   Prob(JB):                     9.41e-14
Kurtosis:                       5.568   Cond. No.                     9.43e+18
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 2.7e-33. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [229]:
df.columns
strok = ''
for i in df.columns[1:]:
    strok+=i+' + '
strok = strok[:-3]

In [230]:
strok

'age + educ + religion + idlnchld + knowmeth + usemeth + agefm + heduc + urban + electric + radio + tv + bicycle + nevermarr + idlnchld_noans + heduc_noans + usemeth_noans'

In [231]:
np.round(res.rsquared, 3)

0.605

In [232]:

print('Breusch-Pagan test: p=%f' % sms.het_breuschpagan(res.resid, res.model.exog)[1])

Breusch-Pagan test: p=0.000002

In [233]:
df2 = df.drop(columns=['religion','radio','tv'])

In [234]:
df2

,ceb,age,educ,idlnchld,knowmeth,usemeth,agefm,heduc,urban,electric,bicycle,nevermarr,idlnchld_noans,heduc_noans,usemeth_noans
0,0,19,12,4.0,1.0,0.0,0.0,0.0,0,0.0,0.0,0,0,-2,0
1,0,16,0,6.0,1.0,0.0,0.0,0.0,0,0.0,0.0,0,0,-2,0
2,2,27,10,4.0,1.0,1.0,0.0,0.0,0,0.0,0.0,0,0,-2,0
3,2,27,7,5.0,1.0,1.0,0.0,0.0,0,0.0,0.0,0,0,-2,0
4,4,28,0,10.0,1.0,1.0,0.0,0.0,0,0.0,0.0,0,0,-2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215,0,16,7,2.0,1.0,0.0,0.0,0.0,0,0.0,0.0,0,0,-2,0
216,2,28,7,4.0,1.0,1.0,0.0,0.0,0,0.0,0.0,0,0,-2,0
217,4,24,5,4.0,1.0,1.0,0.0,0.0,0,0.0,0.0,0,0,-2,0
218,1,26,0,5.0,1.0,0.0,22.0,7.0,0,0.0,0.0,0,0,0,0
219,6,36,3,8.0,1.0,1.0,21.0,0.0,0,0.0,0.0,0,0,0,0

In [235]:
df2.columns
strok = ''
for i in df2.columns[1:]:
    strok+=i+' + '
strok = strok[:-3]

In [236]:
mod = smf.ols(formula='ceb ~ '+strok,data=df)
res2 = mod.fit()
print(res2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                    ceb   R-squared:                       0.605
Model:                            OLS   Adj. R-squared:                  0.582
Method:                 Least Squares   F-statistic:                     25.84
Date:                Thu, 15 Feb 2024   Prob (F-statistic):           1.35e-34
Time:                        21:01:09   Log-Likelihood:                -413.68
No. Observations:                 215   AIC:                             853.4
Df Residuals:                     202   BIC:                             897.2
Df Model:                          12
Covariance Type:            nonrobust
==================================================================================
                     coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------
Intercept         -1.2196      0.883     -1.381      0.169      -2.961       0.522
age                0.1638      0.017      9.711      0.000       0.131       0.197
educ              -0.0994      0.040     -2.478      0.014      -0.178      -0.020
idlnchld           0.1281      0.048      2.696      0.008       0.034       0.222
knowmeth           0.4583      0.355      1.290      0.198      -0.242       1.159
usemeth            0.9722      0.292      3.330      0.001       0.397       1.548
agefm             -0.0807      0.033     -2.470      0.014      -0.145      -0.016
heduc             -0.0198      0.053     -0.376      0.707      -0.124       0.084
urban          -1.626e-15   1.53e-15     -1.064      0.289   -4.64e-15    1.39e-15
electric          -0.6807      1.029     -0.662      0.509      -2.709       1.347
bicycle            0.0002      0.574      0.000      1.000      -1.132       1.132
nevermarr      -1.161e-15   1.11e-15     -1.048      0.296   -3.35e-15    1.02e-15
idlnchld_noans     0.8134      1.339      0.607      0.544      -1.827       3.454
heduc_noans        0.8526      0.359      2.373      0.019       0.144       1.561
usemeth_noans     -0.3507      0.831     -0.422      0.673      -1.989       1.287
==============================================================================
Omnibus:                       18.369   Durbin-Watson:                   1.772
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               59.990
Skew:                          -0.158   Prob(JB):                     9.41e-14
Kurtosis:                       5.568   Cond. No.                     9.43e+18
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 2.7e-33. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [238]:
res.compare_f_test(res2)

(nan, nan, 0.0)

In [241]:
cols = df.columns[1:]
result = smf.ols(formula="ceb ~ " + " + ".join(cols), data=df)
fitted = result.fit()
print(fitted.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                    ceb   R-squared:                       0.615
Model:                            OLS   Adj. R-squared:                  0.584
Method:                 Least Squares   F-statistic:                     19.78
Date:                Thu, 15 Feb 2024   Prob (F-statistic):           7.40e-33
Time:                        21:02:40   Log-Likelihood:                -411.01
No. Observations:                 215   AIC:                             856.0
Df Residuals:                     198   BIC:                             913.3
Df Model:                          16
Covariance Type:            nonrobust
==========================================================================================
                             coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------
Intercept                 -0.7151      1.050     -0.681      0.497      -2.785       1.355
religion[T.other]         -0.7062      0.522     -1.353      0.178      -1.735       0.323
religion[T.protestant]    -0.0117      0.480     -0.024      0.981      -0.959       0.935
religion[T.spirit]        -0.2157      0.486     -0.444      0.657      -1.174       0.742
age                        0.1599      0.017      9.378      0.000       0.126       0.194
educ                      -0.0960      0.042     -2.267      0.024      -0.179      -0.013
idlnchld                   0.1395      0.048      2.917      0.004       0.045       0.234
knowmeth                   0.3467      0.365      0.949      0.344      -0.374       1.067
usemeth                    0.9530      0.293      3.249      0.001       0.375       1.531
agefm                     -0.0807      0.033     -2.472      0.014      -0.145      -0.016
heduc                     -0.0144      0.054     -0.266      0.791      -0.121       0.093
urban                   6.139e-16   9.36e-16      0.656      0.513   -1.23e-15    2.46e-15
electric                  -0.6362      1.042     -0.610      0.542      -2.691       1.419
radio                     -0.1894      0.276     -0.686      0.493      -0.734       0.355
tv                      5.706e-16   7.61e-16      0.750      0.454    -9.3e-16    2.07e-15
bicycle                    0.0713      0.578      0.123      0.902      -1.068       1.210
nevermarr                       0          0        nan        nan           0           0
idlnchld_noans             1.0529      1.367      0.770      0.442      -1.642       3.748
heduc_noans                0.8988      0.361      2.493      0.013       0.188       1.610
usemeth_noans             -0.3083      0.841     -0.367      0.714      -1.967       1.350
==============================================================================
Omnibus:                       17.675   Durbin-Watson:                   1.828
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               50.890
Skew:                          -0.220   Prob(JB):                     8.90e-12
Kurtosis:                       5.343   Cond. No.                     3.40e+19
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 2.08e-34. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [255]:
cols_clear = df.columns[1:].tolist()
for name in ['religion', 'radio', 'tv']:
    cols_clear.remove(name)

result_hc1 = smf.ols(formula="ceb ~ " + " + ".join(cols_clear), data=df)
fitted_hc1 = result_hc1.fit()
print("F=%f, p=%.4f, k1=%f" % fitted.compare_f_test(fitted_hc1))

F=1.246117, p=0.2927, k1=4.000000

In [256]:
print('Breusch-Pagan test: p=%f' % sms.het_breuschpagan(fitted_hc1.resid, fitted_hc1.model.exog)[1])

Breusch-Pagan test: p=0.000002

In [254]:
cols_clear = df.columns[1:].tolist()
for name in ['usemeth_noans', 'usemeth']:
    cols_clear.remove(name)

result_hc1 = smf.ols(formula="ceb ~ " + " + ".join(cols_clear), data=df)
fitted_hc1 = result_hc1.fit()
print("F=%f, p=%.4f, k1=%f" % fitted.compare_f_test(fitted_hc1))

F=5.392686, p=0.0052, k1=2.000000

In [251]:
print('Breusch-Pagan test: p=%f' % sms.het_breuschpagan(fitted_hc1.resid, fitted_hc1.model.exog)[1])

Breusch-Pagan test: p=0.000015

In [257]:
print(fitted_hc1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                    ceb   R-squared:                       0.605
Model:                            OLS   Adj. R-squared:                  0.582
Method:                 Least Squares   F-statistic:                     25.84
Date:                Thu, 15 Feb 2024   Prob (F-statistic):           1.35e-34
Time:                        21:12:06   Log-Likelihood:                -413.68
No. Observations:                 215   AIC:                             853.4
Df Residuals:                     202   BIC:                             897.2
Df Model:                          12
Covariance Type:            nonrobust
==================================================================================
                     coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------
Intercept         -1.2196      0.883     -1.381      0.169      -2.961       0.522
age                0.1638      0.017      9.711      0.000       0.131       0.197
educ              -0.0994      0.040     -2.478      0.014      -0.178      -0.020
idlnchld           0.1281      0.048      2.696      0.008       0.034       0.222
knowmeth           0.4583      0.355      1.290      0.198      -0.242       1.159
usemeth            0.9722      0.292      3.330      0.001       0.397       1.548
agefm             -0.0807      0.033     -2.470      0.014      -0.145      -0.016
heduc             -0.0198      0.053     -0.376      0.707      -0.124       0.084
urban          -1.626e-15   1.53e-15     -1.064      0.289   -4.64e-15    1.39e-15
electric          -0.6807      1.029     -0.662      0.509      -2.709       1.347
bicycle            0.0002      0.574      0.000      1.000      -1.132       1.132
nevermarr      -1.161e-15   1.11e-15     -1.048      0.296   -3.35e-15    1.02e-15
idlnchld_noans     0.8134      1.339      0.607      0.544      -1.827       3.454
heduc_noans        0.8526      0.359      2.373      0.019       0.144       1.561
usemeth_noans     -0.3507      0.831     -0.422      0.673      -1.989       1.287
==============================================================================
Omnibus:                       18.369   Durbin-Watson:                   1.772
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               59.990
Skew:                          -0.158   Prob(JB):                     9.41e-14
Kurtosis:                       5.568   Cond. No.                     9.43e+18
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 2.7e-33. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [258]:
arr = np.array([156,160,164,168,172,176,180])

In [259]:
arr2 = np.array([10,14,26,28,12,8,2])

In [260]:
arr = arr-166

In [261]:
arr = arr**2

In [262]:
arr

array([100,  36,   4,   4,  36, 100, 196])

In [264]:
arr3 = arr*arr2

In [265]:
arr3

array([1000,  504,  104,  112,  432,  800,  392])

In [266]:
arr3.sum()

3344