In [1]:
import pandas as pd
import scipy as sp
import numpy as np
from statsmodels.stats.weightstats import _zconfint_generic, _tconfint_generic

In [2]:
df = pd.read_csv('water.txt', sep = '\t')
df.head()

  location        town  mortality  hardness
0    South        Bath       1247       105
1    North  Birkenhead       1668        17
2    South  Birmingham       1466         5
3    North   Blackburn       1800        14
4    North   Blackpool       1609        18

In [3]:
df.std()

C:\Users\Oleg\AppData\Local\Temp\ipykernel_26972\3390915376.py:1: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.std()

mortality    187.668754
hardness      38.093966
dtype: float64

In [4]:
answer1 = _zconfint_generic(df['mortality'].mean(),df['mortality'].std(),0.05,'two-sided')

In [5]:
round(answer1[0],4)

1156.3235

In [9]:
n = df.shape[0]

mean = df['mortality'].mean()
std = df['mortality'].std(ddof = 1)

print("mean 95% confidence interval", _tconfint_generic(mean, std/np.sqrt(n), n - 1, 0.05, 'two-sided'))

mean 95% confidence interval (1476.0833413552848, 1572.2117406119285)

In [10]:
answer1 = _zconfint_generic(df['mortality'].mean(),std/np.sqrt(n),0.05,'two-sided')

In [11]:
answer1

(1477.0525038218827, 1571.2425781453305)

In [12]:
def compare_cities_stats(row):
    locations = df['location'].unique()
    for location in locations:
        df_location = df[df['location'] == location]
        mean = df_location[row].mean()
        std = df_location[row].std(ddof = 1)
        n = df_location.shape[0]
        print("mean 95% confidence interval for " + location + " cities", _tconfint_generic(mean, std/np.sqrt(n), n - 1, 0.05, 'two-sided'))

In [14]:
answer2 = _zconfint_generic(df[df['location'] == 'South']['mortality'].mean(),std/np.sqrt(n),0.05,'two-sided')

In [15]:
answer3 = _zconfint_generic(df[df['location'] == 'North']['mortality'].mean(),std/np.sqrt(n),0.05,'two-sided')

In [16]:
answer2

(1329.7126551459685, 1423.9027294694163)

In [17]:
answer3

(1586.504962838276, 1680.6950371617238)

In [25]:
n = df[df['location'] == 'South'].shape[0]
answer4 = _zconfint_generic(df[df['location'] == 'South']['hardness'].mean(),df['hardness'].std(ddof = 1)/np.sqrt(n),0.05,'two-sided')
n = df[df['location'] == 'North'].shape[0]
answer5 = _zconfint_generic(df[df['location'] == 'North']['hardness'].mean(),df['hardness'].std(ddof = 1)/np.sqrt(n),0.05,'two-sided')

In [26]:
answer4

(55.12665058304722, 84.41181095541432)

In [27]:
answer5

(17.7796830272666, 43.0203169727334)

In [28]:
from scipy.stats import norm

In [46]:
norm.ppf(0.99999999999999994444)

8.209536151601387

In [49]:
n = norm.ppf(0.975)**2/0.01

In [51]:
np.ceil(n)

385.0