In [4]:
import numpy as np 
import pandas as pd
import scipy as sp
from statsmodels.stats.proportion import proportion_confint

In [5]:
df = pd.read_csv('water.txt', sep = '\t')
df.head(10)

  location         town  mortality  hardness
0    South         Bath       1247       105
1    North   Birkenhead       1668        17
2    South   Birmingham       1466         5
3    North    Blackburn       1800        14
4    North    Blackpool       1609        18
5    North       Bolton       1558        10
6    North       Bootle       1807        15
7    South  Bournemouth       1299        78
8    North     Bradford       1637        10
9    South     Brighton       1359        84

In [7]:
df.corr(method = 'pearson')

C:\Users\Oleg\AppData\Local\Temp\ipykernel_36680\3294333281.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr(method = 'pearson')

           mortality  hardness
mortality   1.000000 -0.654849
hardness   -0.654849  1.000000

In [9]:
df.corr(method = 'spearman')

C:\Users\Oleg\AppData\Local\Temp\ipykernel_36680\875244283.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr(method = 'spearman')

           mortality  hardness
mortality   1.000000 -0.631665
hardness   -0.631665  1.000000

In [11]:
df[df['location']== 'South'].corr(method = 'pearson')

C:\Users\Oleg\AppData\Local\Temp\ipykernel_36680\882096815.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df[df['location']== 'South'].corr(method = 'pearson')

           mortality  hardness
mortality   1.000000 -0.602153
hardness   -0.602153  1.000000

In [12]:
df[df['location']== 'North'].corr(method = 'pearson')

C:\Users\Oleg\AppData\Local\Temp\ipykernel_36680\1972237878.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df[df['location']== 'North'].corr(method = 'pearson')

           mortality  hardness
mortality   1.000000 -0.368598
hardness   -0.368598  1.000000

In [16]:
a = 718
b = 203
c = 515
d = 239

In [20]:
np.round((a * d - b * c)/np.sqrt((a+b)*(a+c)*(b+d)*(c+d)),4)

0.109

In [21]:
table = np.array([[a,b],[c,d]])

In [22]:
table

array([[718, 203],
       [515, 239]])

In [24]:
res = sp.stats.chi2_contingency(table)
res.statistic
res.pvalue

1.0558987006638725e-05

In [40]:
def proportions_confint_diff_ind(sample1, sample2, alpha = 0.05):
    p1 = sample1[1]/(sample1[0]+sample1[1])
    p2 = sample2[1]/(sample2[0]+sample2[1])
    left_boundery = p2-p1-sp.stats.norm.ppf(0.975)*np.sqrt(p1*(1-p1)/(sample1[0]+sample1[1])+p2*(1-p2)/((sample2[0]+sample2[1])))
    right_boundery = p2-p1+sp.stats.norm.ppf(0.975)*np.sqrt(p1*(1-p1)/(sample1[0]+sample1[1])+p2*(1-p2)/((sample2[0]+sample2[1])))
    
    return (left_boundery,right_boundery)

In [41]:
proportions_confint_diff_ind(table[0],table[1])

(0.053905233215813156, 0.13922183141523897)

In [42]:
women = [0] * a + [1] * b
men = [0] * c + [1] * d

In [43]:
sp.stats.ttest_ind(men, women)

Ttest_indResult(statistic=4.485175262463444, pvalue=7.78139336142543e-06)

In [44]:
HappinessTable = np.array([[197, 111, 33], [382, 685, 331], [110, 342, 333]])
result = sp.stats.chi2_contingency(HappinessTable)
np.round(result[0], 4)

293.6831

In [47]:
np.sqrt(result[0]/(table.sum()*(3-1)))

0.2960854608360175